


<div class="cart-page">
  <h2>Shopping Cart</h2>

  {{this.cart.uniqueItem}}
{{#each this.cart.cartItems as |item|}}

<span>

<h5>{{item.title}}</h5></span>
<span><h5>{{item.price}}</h5></span>
<span><input type="number" value="{{item.quantity}}" min="0" {{on "change" (fn this.modifiedQuantity item value="target.value" ) }} /></span>
<span><button type="button" {{on 'click' (fn this.delete item)}}>Delete</button></span>

{{/each}}

  <div class="cart-summary">
    <h3>Order Summary</h3>

    <div class="summary-item">
      <span>Subtotal:</span>
      <span>${{this.subTotal}}</span>
    </div>

    <div class="summary-item">
      <span>Tax:</span>
      <span>${{this.tax}}</span>
    </div>

    <div class="total-amount">
      <span>Total:</span>
      <span>${{this.totalAmount}}</span>
    </div>

  </div>

 <div class="buttons">
   
     <LinkTo @route="products"> <button  class="back-button" type="button">Back</button></LinkTo>

     {{#if this.cart.cartItems}}
       <LinkTo  @route="checkout">
      <button class="checkout-button" type="button">Checkout</button></LinkTo>

   {{/if}}
    </div>
</div>
